.travel {
  max-width: 478px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 1em 0;
}

.travelImg {
  height: 168px;
  width: 126px;
  border-radius: 5px;
  overflow: hidden;
  /* outline: 1px solid red; */
  /* opacity: 0.7; */
}

.travelImg img {
  height: 100%;
  margin-left: -60%;
}

.travelContent {
  padding: 0.5em 0;
}

.travelContent--location {
  display: flex;
  gap: 2em;
  font-size: 0.75em;
}

.travelContent--location p {
  text-transform: uppercase;
}

.travelContent--location a {
  text-decoration: underline;
  color: #918e9b;
}

.travelContent--title {
  font-size: 1.56em;
  padding: 0.5em 0;
}

.travelContent--title,
.travelContent--dates {
  font-weight: 700;
}
.travelContent--dates {
  padding: 0.5em 0;
}

.travelContent--dates,
.travelContent--description {
  font-size: 0.68em;
  line-height: 119%;
}

.travelContent--description {
  max-width: 326px;
}
